.channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel > h4 {
    display: flex;
    padding-left: 15px;
    color: gray;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
}

.channel:hover {
    background-color: #40464b;
    border-radius: 5px;
}

.channel:hover > h4{
    color: white;
}

.channel__active {
    background-color: #4e565c;
    border-radius: 5px;
}
.channel__active > h4{
    color: white;
}

.channelHash {
    font-size: 30px;
    padding: 8px;
}

.channel:hover > .channel__icons {
    visibility: visible;
}

.channel__icons {
    margin-right: 10px;
    color: gray;
    visibility: hidden;
    cursor: pointer;
}

.channel__editIcon:hover, .channel__deleteIcon:hover {
    color: white;
}

.channel__icons > .MuiSvgIcon-root {
    padding: 5px;
}